<label id="gradient-label">line color(s):</label>
<div class="gradient-color-pickers-container">
    <div *ngFor="let colorID of colorEls;let i=index" class="color-stop-container">
        <input 
        #colorInput
        [id]="colorID" [style.background]="colorEls[i]" [cpWidth]="'280px'" [cpAlphaChannel]="'always'"
        [cpOutputFormat]="'rgba'"
        [cpPresetColors]="['#ffffff', '#ff5c33', '#ff66b3', '#ccccff', '#b3ffff', '#80ff80', '#ffff33']"
        [cpMaxPresetColorsLength]="16"
        [cpAddColorButton]="true" 
        [(colorPicker)]="colorEls[i]" 
        (colorPickerChange)="onColorChange.emit(this.colorEls)"/>

        <i class="fa-solid fa-circle-minus remove-color" (click)="removeColorStop(colorInput, i)"></i>
    </div>

    <div *ngIf="canAddColors" class="add-color-stop" (click)="newColorStop()">
        <i class="fa-solid fa-plus"></i>
    </div>
</div>
