#gradient-label {
    font-size: .8rem;
    margin-bottom: 10px;
}

.gradient-color-pickers-container {
    display: flex;
    gap: 5px;
    height: 33px;
    text-align: center;
}

.gradient-color-pickers-container input {
    border: transparent;
    outline: transparent;
    border-radius: 8px;
    cursor: pointer;
    caret-color: transparent;
}

.gradient-color-pickers-container input:hover {
    scale: 1.05;
}

.add-color-stop {
    width: 33px;
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-color-stop:hover {
    scale: 1.05;
}

.add-color-stop {
    width: 33px;
    aspect-ratio: 1;
}

.color-stop-container {
    width: 33px; 
    aspect-ratio: 1;
}

.open {
    position: absolute;
}

.color-stop-container input {
    width: 100%;
    height: 100%;
}

.remove-color {
    position: relative;
    top: -120%;
    left: -40%; 
    color: grey;
    z-index: 100;
}

.remove-color:hover{
    color: rgb(80, 80, 80);
    cursor: pointer
}

* {
    overflow: visible;
}
