main {
    display: flex;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.logo {
    position: relative;
    top: 0px;
    left: -8px;
    display: flex;
    width: fit-content;
    height: fit-content;
    scale: .7;
}

#sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

    .sidebar {
        padding: 20px;
        padding-top: 10px;
        width: 215px;
        height: 100%;
        background-color: rgb(36, 37, 39);
        overflow-y: scroll;
        overflow-x: visible;
        scrollbar-width: thin;
        scrollbar-color: rgb(56, 55, 55) transparent;
    }

    *::-webkit-scrollbar {
        height: 100%;
        width: 8px;
      }
      
      *::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        border: 3px solid rgb(56, 55, 55);
      }

        .small-width *:not(.pull-tab-container) {
            display: none
        }

        .small-width {
            width: 10px !important;
            padding: 0;
        }


    .pull-tab-container {
        position: relative;
    }

    .pull-tab-container * {
        cursor: pointer;
    }
    
    #pull-tab {
        position: relative;
        display: flex;
        align-items: center;
    }

        .left-arrow {
            position: absolute;
            left: -9px !important;
            top: 25px;
            scale: .6;
            transform: rotate(-90deg);    
        }

        .rotate-right {
            transform: rotate(90deg);
        }

/* sidebar content */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.input-container label{
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container label input {
    width: 2rem;
    height: 1.6rem;
    font-weight: 650;
}


.input-container {
    margin-bottom: 15px;
    font-size: .8rems
}

.input-error {
    font-size: .6rem;
    color: rgb(235, 225, 87);
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(56, 55, 55);
}

#flexSwitchCheckDefault {
    height: 23px;
    width: 40px;
    cursor: pointer;
}

#speed-input {
    margin: 0;
}

.form-check {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}

.text-input {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: .8rem;
}

.text-input:focus, .text-input:active {
    outline: none;
    border: none;
}

#function-explanation {
    position: relative;
    font-size: .7rem;
    background-color: rgb(56, 55, 55); 
    border-radius: 5px; 
    padding: 5px;
    padding-top: 10px;
}

.fa-circle-info {
    font-size: 1rem;
    cursor: pointer;
}

.function-inputs span {
    font-size: .9rem;
    font-weight: 600;
}

.hide-func-explanation {
    display: none;
}

.save-canvas {
    position: relative;
    margin-top: 15px;
    width: 100%;
    border: transparent;
    background-color: rgb(77, 77, 207);
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: left;
}

.save-canvas i {
    position: absolute;
    right: 6px;
    top: 6px;
}

.form-range:hover {
    cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    
    input[type='range']::-webkit-slider-runnable-track {
        height: 8px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;    
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      box-shadow: -80px 0 0 80px rgb(77, 77, 207);
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
    height: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(77, 77, 207); 
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    height: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(77, 77, 207); 
}
