main {
    display: flex;
    position: relative;
}

.logo {
    position: absolute;
    top: 0px;
    left: 10px;
    display: flex;
    width: fit-content;
    height: fit-content;
    scale: .7;
}

#sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

    .sidebar {
        padding: 20px;
        padding-top: 50px;
        width: 215px;
        height: 100%;
        background-color: rgb(36, 37, 39);
        overflow-y: scroll;
        overflow-x: visible;
        scrollbar-width: thin;
        scrollbar-color: white transparent;
    }

    *::-webkit-scrollbar {
        height: 100%;
        width: 8px;
      }
      
      *::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        border: 3px solid #ffffff;
      }

        .small-width *:not(.pull-tab-container) {
            display: none
        }

        .small-width {
            width: 10px !important;
            padding: 0;
        }


    .pull-tab-container {
        position: relative;
    }

    .pull-tab-container * {
        cursor: pointer;
    }
    
    #pull-tab {
        position: relative;
        display: flex;
        align-items: center;
    }

        .left-arrow {
            position: absolute;
            left: -9px !important;
            top: 25px;
            scale: .6;
            transform: rotate(-90deg);    
        }

        .rotate-right {
            transform: rotate(90deg);
        }

/* sidebar content */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.input-container label{
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container label input {
    width: 2rem;
    height: 1.6rem;
    font-weight: 650;
}

.input-container .form-range {
    cursor: pointer;
}

.input-container {
    margin-bottom: 15px;
    font-size: .8rems
}

.input-error {
    font-size: .6rem;
    color: rgb(235, 225, 87);
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(56, 55, 55);
}

#flexSwitchCheckDefault {
    height: 23px;
    width: 40px;
    cursor: pointer;
}

.form-check {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}

.text-input {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: .8rem;
}

.text-input:focus, .text-input:active {
    outline: none;
    border: none;
}

#function-explanation {
    position: relative;
    font-size: .7rem;
    background-color: rgb(56, 55, 55); 
    border-radius: 5px; 
    padding: 5px;
    padding-top: 10px;
}

.fa-circle-info {
    font-size: 1rem;
    cursor: pointer;
}


.hide-func-explanation {
    display: none;
}
