main {
    display: flex;
    position: relative;
}

#sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

    .sidebar {
        padding: 20px;
        width: 200px;
        height: 100%;
        background-color: rgb(36, 37, 39);
    }
        .small-width *:not(.pull-tab-container) {
            display: none
        }

        .small-width {
            width: 10px !important;
            padding: 0;
        }


    .pull-tab-container {
        position: relative;
    }

    
    #pull-tab {
        position: relative;
        display: flex;
        align-items: center;
    }

        #left-arrow {
            cursor: pointer;
            position: absolute;
            left: -24px !important;
            top: 2px;
            scale: .6;
            padding: 10px;        
        }

        .rotate-right {
            transform: rotate(180deg);
            left: 0 !important;
        }

/* sidebar content */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.slider-container label{
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-container label input {
    width: 2rem;
    height: 1.6rem;
    font-weight: 650;
}

.slider-container .form-range {
    cursor: pointer;
}

.slider-container {
    margin-bottom: 15px;
}

.gradient-color-pickers-container input {
    width: 20%;
    aspect-ratio: 1;
    border: transparent;
    outline: transparent;
    border-radius: 10px;
    cursor: pointer;
    caret-color: transparent;
}

.gradient-color-pickers-container input:hover {
    scale: 1.05;
}

