main {
    display: flex;
    position: relative;
}

#sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

    #sidebar {
        padding: 20px;
        width: 200px;
        height: 100%;
        background-color: rgb(36, 37, 39);
    }

        .small-width {
            width: 10px !important;
        }

    #pull-tab {
        position: relative;
        height: 80px;
        width: 20px;
        background-color: rgb(36, 37, 39);
        clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 80%, 100% 20%, 50% 0);        
        display: flex;
        align-items: center;
    }

        #left-arrow {
            position: relative;
            left: -2px;
            cursor: pointer;
        }

        .rotate-right {
            transform: rotate(180deg);
            left: 0 !important;
        }

/* sidebar content */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.slider-container label{
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-container label input {
    width: 2rem;
    height: 1.6rem;
    font-weight: 650;
}

.slider-container .form-range {
    cursor: pointer;
}

.slider-container {
    margin-bottom: 15px;
}