@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$form-range-track-width:          100%;
$form-range-track-height:         .5rem;
$form-range-track-cursor:         pointer;
$form-range-track-bg:             black;
$form-range-track-border-radius:  1rem;
$form-range-track-box-shadow:     $box-shadow-inset;

$component-active-bg: white;

$form-range-thumb-width:                   1rem;
$form-range-thumb-height:                  $form-range-thumb-width;
$form-range-thumb-bg:                      $component-active-bg;
$form-range-thumb-border:                  0;
$form-range-thumb-border-radius:           1rem;
$form-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1);
$form-range-thumb-focus-box-shadow:        none;
$form-range-thumb-focus-box-shadow-width:  $input-focus-width; // For focus box shadow issue in Edge
$form-range-thumb-active-bg:               white;
$form-range-thumb-disabled-bg:             $gray-500;
$form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$form-check-input-checked-color:          white;
$form-check-input-checked-bg-color:       transparent;
$form-check-input-checked-border-color:   white;

$form-check-input-indeterminate-color:    rgb(211, 91, 91);
$form-check-input-bg:                     transparent;
$form-check-input-border:                 1px solid rgb(255, 255, 255);
$form-check-input-indeterminate-border-color:   white;
$form-check-input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");
$form-check-input-focus-border:           white;
$form-check-input-focus-box-shadow:       none;

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-outline-primary {
    --bs-btn-border-color: white;
    --bs-btn-active-border-color: white;
    --bs-btn-active-bg: white;
    --bs-btn-active-color: black;
    --bs-btn-color: white;
    --bs-btn-focus-shadow-rgb: 0, 0,0;
    border: 1px solid white !important; 
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255, 255, 255, .8)'/%3e%3c/svg%3e");
}


.form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255, 255, 255, .8)'/%3e%3c/svg%3e");
}

.cp-add-color-button-class {
    width: 56px !important;
    left: 4px !important;
}

@font-face {
    font-family: 'kode';
    src: url(./app/assets/kode-mono.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'kode', monospace;
    color: white;
    overflow-x: hidden;
}

canvas {
    position: absolute;
    background: black;
    top: 0;
    left: 0;
}

.cp-add-color-button-class {
    font-size: 10px !important;
    color: black !important;
    text-decoration: black !important;
}

.cp-remove-color-button-class {
    font-family: monospace !important;
    color: black !important;
    font-size: 10.3px !important;
    margin-left: -3px !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .done-button {
    border: transparent;
    background-color: rgb(77, 77, 207);
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
}

.done-button:hover {
    scale: 1.05;
}