@font-face {
    font-family: 'kode';
    src: url(./app/assets/kode-mono.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'kode', monospace;
    color: white;
}

canvas {
    position: absolute;
    background: black;
    top: 0;
    left: 0;
}