@font-face {
    font-family: 'kode';
    src: url(./app/assets/kode-mono.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'kode', monospace;
    color: white;
    overflow-x: hidden;
}

canvas {
    position: absolute;
    background: black;
    top: 0;
    left: 0;
}

.p-slider-handle {
    top: -130%;
    border: transparent;
    cursor: grab;
    transform: translateX(-9px);
}

.p-slider-handle:focus {
    box-shadow: none;
    cursor: grab;

}

.p-slider-handle:hover {
    background: white;
}

.p-slider-range {
    border-radius: 6px;
}