<main>
    <app-canvas></app-canvas>
    <div id="cta">
        <h1>Generate a customizable graphic with the HTML5 Canvas API <i class="fa-solid fa-arrow-right"></i></h1> 
        <div class="btn-container" (mouseenter)="allowHoverEvents()" (mouseleave)="ignorePointerEvents()">
            <p class="cta-btn-text"><span>Get Started</span></p>                
            <div class="button-border" [ngClass]="{'allow-pointer-events': isHovering}">
                <a href="/design"></a>
            </div>    
        </div>
    </div>
</main>
