#cta-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.65);
}

h1 {
    font-size: 3rem;
    text-align: left;
    max-width: 700px;
}

#cta {
    position: relative;
    top: 30vh;
    height: min-content;
}

.btn-container {
    position: relative;
 }

.cta-btn-text {
    position: absolute;
    z-index: 1;
    background-color: rgb(64, 64, 165);
    color: white;
    border: transparent;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

a {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.button-border {
    z-index: 1;
    margin-top: 15px;
    position: relative;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
    transition: transform;
    pointer-events: none;
}

.button-border.allow-pointer-events {
    pointer-events: auto;
}

.button-border:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 11, 222, 0.63));
    animation: spin 2s linear 8 forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#up-arrow {
    position: absolute;
    scale: .04;
    top: 52vh;
    z-index: 10;
    transform: scaleX(1.3);
    cursor: pointer;
}