nav {
    position: absolute;
    width: 100vw;
    height: 80px;
}

nav .logo {
    display: flex;
    align-items: end;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

nav svg {
    margin: 10px;
}

.cta-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.733);
}

.show-canvas {
    background: rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 4rem;
    text-align: left;
    max-width: 885px;
    cursor: default; 
}

h1 span {
    font-size: 1rem;
    position: relative;
    bottom: 1.2rem;
    left: 10px;
}

#cta {
    position: relative;
    top: 30vh;
    height: min-content;
    padding: 10px;
}

.show-background {
    background:rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.btn-container {
    padding: 0 10px;
    width: max-content;
    height: 3rem;
    background: rgb(64, 64, 165);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-arrow-right {
    font-size: 1rem;
    position: relative;
    left: .5rem;
    padding-right: 10px;
}
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: black;
    --button_outline_color: #e8e8e8;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button-top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button-top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button-top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }

#up-arrow {
    position: absolute;
    top: 96%;
    cursor: pointer;
}